<div class="container">

    <h1>Mini Postman</h1>
  
    <div class="row">
      <select [(ngModel)]="request.method">
        <option *ngFor="let m of methods">{{ m }}</option>
      </select>
  
      <input type="text" placeholder="https://api.com/users" [(ngModel)]="request.url">
  
      <button (click)="send()">Enviar</button>
    </div>
  
    <div class="section">
      <h3>Headers</h3>
  
      <div *ngFor="let h of request.headers">
        <input placeholder="Key" [(ngModel)]="h.key">
        <input placeholder="Value" [(ngModel)]="h.value">
      </div>
  
      <button class="small" (click)="addHeader()">+ Header</button>
    </div>
  
    <div class="section" *ngIf="request.method !== 'GET'">
      <h3>Body (JSON)</h3>
      <textarea rows="6" placeholder="{ }" [(ngModel)]="request.body"></textarea>
    </div>
  
    <div class="section response" *ngIf="status !== null">
      <h3>Respuesta</h3>
      <p><strong>Status:</strong> {{ status }}</p>
      <p><strong>Tiempo:</strong> {{ timeMs | number:'1.0-0' }} ms</p>
  
      <pre>{{ response | json }}</pre>
    </div>
  
  </div>
  